<!--
  Generated template for the BerjalanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-toolbar style="height:20px">
      <ion-grid>
          <ion-row justify-content-center align-items-center>
            <ion-col>
              <div text-right style="font-weight: bold">Ikuti</div>
            </ion-col>
            <ion-col>
               <ion-toggle checked="false" style="position: relative; left: 50%;transform: translateX(-50%);" [(ngModel)]="theState" (ionChange)="change()"></ion-toggle>
              </ion-col>
            <ion-col>
              <div text-left style="font-weight: bold">Kerja</div>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-toolbar>
  <div *ngIf="theState == false">
    <div *ngIf="items != 0;" >
      <div *ngFor="let item of items">
      <ion-card >
      <ion-card-content>
     <div style="font-weight:bold; margin-bottom:20px;" >{{item.order.subject}}</div>
      <div> Dibuat  : {{item.order.created_at | date: "dd MMM yyyy HH:mm a"}} - Oleh {{item.order.user_client.username}} </div>
      <div *ngIf="item.order.projecttype == 1">Pemetaan Tanaman</div>
      <div *ngIf="item.order.projecttype == 2">Liburan</div>
      <div *ngIf="item.order.projecttype == 3">Lalu-lintas</div>
      <div *ngIf="item.order.projecttype == 4">Konstruksi Bangunan</div>
      <div *ngIf="item.order.projecttype == 5">Pengawasan</div>
      <div>Tanggal Proyek : {{item.order.dtprojectstart | date: "dd MMM yyyy" }} - {{item.order.dtprojectend | date: "dd MMM yyyy" }}</div>
      <div>Harga Penawaran IDR : {{item.offered_price  | currency:"Rp." :true:"1.0"}}</div>

      <ion-grid>
        <ion-row style="margin-left: -15px; margin-right: -15px">
          <ion-col>
            <button ion-button small block color="navy" style="color:orange" >Detail</button>
          </ion-col>
          <ion-col>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
    </div>
    </div>
  </div>

  <div *ngIf="theState == true">
      <div *ngIf="items != 0;" >
        <div *ngFor="let item of items">
        <ion-card >
        <ion-card-content>
       <div style="font-weight:bold; margin-bottom:20px;" >{{item.order.subject}}</div>
        <div> Dibuat  : {{item.order.created_at | date: "dd MMM yyyy HH:mm a"}} - Oleh {{item.order.user_client.username}} </div>
        <div *ngIf="item.order.projecttype == 1">Pemetaan Tanaman</div>
        <div *ngIf="item.order.projecttype == 2">Liburan</div>
        <div *ngIf="item.order.projecttype == 3">Lalu-lintas</div>
        <div *ngIf="item.order.projecttype == 4">Konstruksi Bangunan</div>
        <div *ngIf="item.order.projecttype == 5">Pengawasan</div>
        <div>Tanggal Proyek : {{item.order.dtprojectstart | date: "dd MMM yyyy" }} - {{item.order.dtprojectend | date: "dd MMM yyyy" }}</div>
        <div>Harga Penawaran IDR : {{item.proposal_by.offered_price  | currency:"Rp." :true:"1.0"}}</div>
  
        <ion-grid>
          <ion-row style="margin-left: -15px; margin-right: -15px">
            <ion-col>
              <button ion-button small block color="navy" style="color:orange" >Detail</button>
            </ion-col>
            <ion-col>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      </ion-card>
      </div>
      </div>
    </div>
</ion-content>
<ion-footer style="height:35px" color="white">
  <ion-grid style="margin-top:-9px">
    <ion-row>
      <ion-col text-center>
        <button clear ion-button color="dark">
          <div>
              <ion-icon name="move"></ion-icon>
              <label>URUTKAN</label>
          </div>
      </button>
      </ion-col>
      <ion-col text-center>
        <button clear ion-button color="dark">
          <div>
              <ion-icon name="search"></ion-icon>
              <label>SEARCH</label>
          </div>
      </button>    
      </ion-col>
      <ion-col text-center>
          <button clear ion-button color="dark">
            <div>
                <ion-icon name="funnel"></ion-icon>
                <label>Filter</label>
            </div>
        </button>    
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>