page-performa {
    .ratingss {
        position:relative;
        top: -15px;
      }
    .rating li {
        background: none;
        color: #ffb400;
        ion-icon {
          font-size: 20px;
        }
      }
}
