// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
#menu{
  background: color($colors,navy);
  height: 135px;
  //opacity: .7;
  .email{
    color : white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    bottom:47px;
    margin-left: 20px;
  }
  .logo{
      height: 75px;
      margin-top: 10px;
      margin-left: 20px;
  }
}
// remove gray line and point bug
.scroll-content {
    overflow-y : auto  ! important ;
  }

body {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.ratings {
  text-align: right;
  position:relative;
  top: -72px;
  margin-right: 45px
}
.ratings-value {
  text-align: left;
  position:relative;
  top: -40px;
  margin-left: 100px;
  color:white;
  font-weight: bold;
}
.rating li {
  padding: 1px 4px !important;
  background: none;
  color: #ffb400;
  ion-icon {
    font-size: 20px;
  }
}
@font-face{
    font-family: Righteous;
    src: url('../assets/fonts/Righteous.woff2') format('woff2');
 }
